
.lt_content {
  width: 100%;
  height: 100%;
  /*background-color: green;*/
  /*保证main里面的东西永远都不会出去*/
  position: relative;
  overflow: hidden;
}

.lt_content .lt_nav li {
  float: left;
  width: 33.33%;
}

.lt_content .lt_nav li img {
  width: 100%;
  }

.lt_content .lt_product {
  padding-top: 20px;
}

.lt_content .lt_product a {
  float: left;
  width: 48%;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;

}
.lt_product a:nth-child(odd) {
  margin-right: 4%;
}

.lt_content .lt_product a img {
  width: 100%;
  display: block;

}

.lt_product a span:first-child {
  color: red;
}

.lt_product a span:last-child {
  text-decoration: line-through;
}